nav{
	height: 5%;
	background: #e8f442;
}

ul{
	list-style: none;
	padding-left: 35%;
}

ul > li > a{
	text-decoration: none;
	float: left;
	width: 130px;
	background: #ffff1c;
	padding: 2px;
	margin: 4px 2px 2px 2px;
	text-align: center;
	color: #f49542;
	font-weight: bold;

}

ul > li > a:hover{
	background: #efef94;
}

.activo{
	background: red;
	color: yellow;
}